* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*common css start*/
body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*common css end*/
/*Header css Starat*/
#header {
    background-color: #131e29;
    border-bottom: 1px solid #506980;
}

.logo {
    width: 25%;

}

.logo img {
    padding: 15px 0 22px;
}

.menu {
    width: 75%;
}

.menu ul {
    float: right;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding: 30px 15px;
    display: inline-block;
}

/*Header css End*/
/*Banner css start*/
#banner {
    background-image: url(../images/Bazinger.png);
    background-size: cover;
    background-position: center;
    padding: 190px 0 90px;
}

.banner-content {
    width: 700px;
    margin-left: auto;
    color: #ffffff;
}

.banner-content h1 {
    font-size: 30px;
    color: #fff;

}

.banner-content h1 span {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.banner-content p {
    font-size: 18px;
    color: #fff;
    padding: 18px 0 26px;

}

.banner-content .button-one {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #29343f;
    border: none;
    border: 1px solid #fff;
    padding: 15px 40px;
    border-radius: 5px;

}

.banner-content .button-two {
    font-size: 15px;
    color: #fff;
    background-color: #4bcaff;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
}

.banner-icon i {
    height: 50px;
    width: 50px;
    background-color: #171a1f;
    font-size: 30px;
    line-height: 50px;
    border-radius: 50%;

}

.banner-icon p {
    display: inline-block;
    padding-top: 48px;
}

/*Banner css End*/

/*feature css start*/





/*feature css End*/
/*round box css start*/
.container .section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 36px;
    color: #414042;
    padding-top: 40px;
}

.section-title p {
    font-size: 20px;
    color: #414042;
    text-align: center;
}

#round-box .row {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.round-item i {
    font-size: 30px;
    height: 150px;
    width: 150px;
    background-color: #4bcaff;
    text-align: center;
    line-height: 150px;
    border-radius: 50%;
}

.round-item h3 {
    font-size: 15px;
    font-weight: 700;
    padding: 27px 0 15px;
}

.round-item p {
    font-size: 13px;
}

/*round box css End*/
